<p style="color: green"><%= notice %></p>
<h1>Articles</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>
          <%= link_to 'Delete directly from here', article_path(article), method: :delete %>
        </td>
        <td>
          <%= link_to "Show this article", article %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "New article", new_article_path %>
<%# Instead of a table, the scaffold generator just iterates through articles and renders each article like this:  %>
<%#= render article %>
